<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snip.url</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><h1>snip.url</h1></li>
        </ul>
    </nav>

    <div class="intro">
        <h2>The no-brainer URL shortener</h2>
        <p>
    Transform long, complex URLs into short, breatheable links in seconds.
        </p>
    </div>

<div class="toggle-btn">
    <button id="themeToggle" class="toggle-btn">🌙</button>
</div>
 <form id="shorten-form">
    <div class="shortener">
        <input type="url" id="urlInput" placeholder="Enter your URL here...">
        <button id="shortenButton">Snip!</button>
    </div>
    </form>

     <div id="error" class="message error"></div>

    <div id="result" class="message result"></div>
    
  </div>
    </div>
    <div class="cards">
        <div class="card1">
            <h3>Minimal</h3>
            <p>Focuses only on what's necessary, so that you can focus on better things.</p>
        </div>
        <div class="card2">
            <h3>Reliable</h3>
            <p>Our 99.7% accuracy rate guarantees that your links always work</p>
        </div>
        <div class="card3">
            <h3>Snip Away!</h3>
            <p>Our tool is effortlessly simple and fast for most users.</p>
        </div>
    </div>
    <div style="margin-top:300px"></div>
    <div class="info">
        <div class="about">
            <h2>About</h2>
            <p>snip.url is a simple URL shortening service that allows you to create short links for your favorite websites. Try it out and let us know what you think. We hope our tool helps you out.  This is also a research project by our founders!</p>
        </div>
        <div class="contact">
            <h2>Contact</h2>
            <p>If you have any questions or feedback, feel free to reach out to us via:</p>
            <ul>
                <li>Wasef's <a href="mailto:wrezachow@gmail.com" target="_blank">e-mail, </a>His <a href="https://www.linkedin.com/in/wasef-chowdhury/" target="_blank">LinkedIn</a></li>

                <li>Sahil's <a href="mailto:kaifi.sahil@mail.ru" target="_blank">e-mail, </a>His <a href="https://github.com/kxifi" target="_blank">GitHub</a></li>
            </ul>
            </div>
        </div>
    </div>
        <div class="founders">
            <h2></h2>
            <h3>Meet our founders,<br>
                Sahil and Wasef.</h3>
            <p>P.S. We built this in one day. And we're proud.</p>
        </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>